.Join{
    display: flex;
    padding: o 2rem;
    gap: 10rem;
}
.Left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding: 2rem;

}

.Left-j>hr{
    position: absolute;
    width:10.5rem ;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -6px 0;
}
.Left-j>div{
    display: flex;
    gap: 1rem;
}
.right-j{
    display: flex;
    justify-content: center;
    align-items: center;
  
   

}
.email-container{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;
    

}
.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgray);
   
}
::placeholder{
    color: var(--lightgray);
}
.btn-j{
    background-color: var(--orange);
color:aliceblue;
}
@media (max-width: 768px) {
    .Join {
        flex-direction: column;  /* Stack the left and right sections vertically */
        gap: 2rem;  /* Reduce the gap between the sections */
    }
    .email-container {
        width: 100%;  /* Ensure the email input and button take up full width */
        padding: 1rem;  /* Reduce padding for smaller screens */
    }
}


